 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/twitter-card-28.png");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 224px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 67px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1103px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 313px;
  width: 640px;
  margin: 664px auto 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 23px 0 0 auto;
  padding: 16px 56px;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -51px auto 51px 0;
  padding: 16px 56px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    margin-top: 474px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 51px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 3px;
  }
}