 .u-section-1 {
  background-image: url("images/jh.jpg");
  background-position: 50% 50%;
  min-height: 164px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 1px 0 -307px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 471px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px 0 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 471px;
  pointer-events: auto;
  background-image: url("images/5807340-min.png");
  background-position: 0% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 20px 30px 50px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 590px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-1 .u-image-1 {
    min-height: 590px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 416px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 508px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 230px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 393px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 312px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 260px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1178px;
}

.u-section-2 .u-shape-1 {
  width: 737px;
  background-image: linear-gradient(#478ac9, #f1c50e);
  height: 930px;
  margin: 248px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 646px;
  height: 678px;
  object-position: 50% 0%;
  margin: -1052px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 520px;
  min-height: 402px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  margin: -754px 50px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 28px 0 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  font-size: 1rem;
  margin: 20px 283px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 802px;
  margin: 174px 47px 59px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 432px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.25);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.25);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.25);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.25);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.25);
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-icon-5 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(41,46,51,0.25);
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-icon-6 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1173px;
  }

  .u-section-2 .u-shape-1 {
    width: 686px;
    margin-top: 243px;
  }

  .u-section-2 .u-image-1 {
    width: 543px;
    height: 570px;
  }

  .u-section-2 .u-group-1 {
    width: 405px;
    margin-top: -646px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 168px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 91px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-gap: 30px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1705px;
  }

  .u-section-2 .u-shape-1 {
    width: 574px;
    height: 1215px;
    margin-top: 490px;
  }

  .u-section-2 .u-image-1 {
    width: 474px;
    height: 490px;
    margin-top: -1655px;
  }

  .u-section-2 .u-group-1 {
    width: 431px;
    margin-top: -183px;
    margin-right: 71px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 194px;
  }

  .u-section-2 .u-list-1 {
    width: 649px;
    margin-top: 51px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 716px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1816px;
  }

  .u-section-2 .u-shape-1 {
    width: 432px;
    height: 1185px;
    margin-top: 631px;
  }

  .u-section-2 .u-image-1 {
    width: 432px;
    height: 465px;
    margin-top: -1761px;
  }

  .u-section-2 .u-group-1 {
    width: 442px;
    margin-top: -27px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 205px;
  }

  .u-section-2 .u-list-1 {
    width: 491px;
    margin-top: 56px;
    margin-bottom: -572px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 694px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2254px;
  }

  .u-section-2 .u-shape-1 {
    height: 1097px;
    margin-top: 529px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 366px;
    margin-top: -1566px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    width: 255px;
    margin-top: -45px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 41px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 38px;
  }

  .u-section-2 .u-list-1 {
    width: 255px;
    margin-top: 42px;
    margin-left: auto;
    margin-bottom: -423px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1356px;
  }
}
