 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/jh.jpg");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 224px;
}

.u-section-1 .u-text-1 {
  margin: 60px auto 60px 313px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 185px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 107px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 180px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 67px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 113px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 877px;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 775px 0 51px auto;
  padding: 16px 56px;
}