 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url("images/jh.jpg");
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 240px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 60px auto 0 22px;
}

.u-section-1 .u-text-2 {
  margin: 11px auto 0 22px;
}

.u-section-1 .u-text-3 {
  margin: 11px auto 0 22px;
}

.u-section-1 .u-text-4 {
  margin: -29px 356px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 350px;
  --radius: 10px;
  height: 10px;
  margin: -19px auto 0 141px;
}

.u-section-1 .u-shape-2 {
  width: 570px;
  --radius: 10px;
  height: 10px;
  margin: -10px auto 9px 141px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 23px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 10px;
    margin-right: 294px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -80px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 72px;
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 225px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 114px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 169px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 72px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 106px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1092px;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 43px 0 0 auto;
  padding: 8px 148px 10px 147px;
}

.u-section-2 .u-text-1 {
  margin: -38px 445px 0 -26px;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px 0 0 auto;
  padding: 8px 169px 9px;
}

.u-section-2 .u-image-1 {
  width: 187px;
  height: 76px;
  margin: 40px auto 0 -26px;
}

.u-section-2 .u-image-2 {
  width: 570px;
  height: 297px;
  margin: 0 auto 0 -26px;
}

.u-section-2 .u-image-3 {
  width: 208px;
  height: 316px;
  margin: -316px 419px 0 auto;
}

.u-section-2 .u-shape-1 {
  width: 179px;
  height: 42px;
  margin: -114px auto 0 57px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.6;
  margin: -29px 979px 0 57px;
}

.u-section-2 .u-shape-2 {
  width: 179px;
  height: 42px;
  margin: -146px auto 0 57px;
}

.u-section-2 .u-text-3 {
  font-weight: 600;
  margin: -35px 843px 0 57px;
}

.u-section-2 .u-group-1 {
  width: 376px;
  height: auto;
  --radius: 15px;
  min-height: 363px;
  margin: -123px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 365px;
  height: 214px;
  margin: 0 auto 0 -1px;
}

.u-section-2 .u-image-5 {
  width: 139px;
  height: 107px;
  margin: -131px auto 0 105px;
}

.u-section-2 .u-image-6 {
  width: 364px;
  height: 142px;
  margin: 24px auto 0 -1px;
}

.u-section-2 .u-image-7 {
  width: 414px;
  height: 466px;
  margin: -2px -18px 20px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 245px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 721px;
    margin-right: 612px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: -36px;
    margin-right: 700px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-right: 210px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -28px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 16px;
    margin-right: 210px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 184px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -49px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -382px;
  }

  .u-section-2 .u-text-2 {
    width: 720px;
    margin-top: 126px;
    margin-right: 392px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 11px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 245px;
    margin-right: 480px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -449px;
    margin-right: 210px;
  }

  .u-section-2 .u-image-7 {
    margin-bottom: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -59px;
    margin-right: 300px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 274px;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 281px;
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-top: -300px;
    margin-right: 332px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -386px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
    font-size: 1rem;
    margin-top: 129px;
    margin-right: 212px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 8px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 248px;
    margin-right: 300px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -442px;
    margin-right: 300px;
  }

  .u-section-2 .u-image-7 {
    margin-bottom: -46px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 400px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 400px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 374px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 177px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -196px;
    margin-right: 132px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-right: 12px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 100px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-right: 400px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 199px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: -116px;
  }

  .u-section-2 .u-image-6 {
    width: 340px;
    height: 133px;
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 383px;
    margin-right: 0;
    margin-bottom: -175px;
  }
}